body {
  height: 100%;
  font-family: sans-serif;
}

/*.octocat{
  width: 20px;
  height: 20px;
}*/

.jumbotron{
  background-color: navy;
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  border-radius: 13px;
}

.screenshot{
  width: 200px;
  height: 200px;
}

.my-image{
  border-radius: 30px;
}

.contact-me{
  
}

.icon{
  height: 30px;
  width: 30px;
}

.glyphicon.glyphicon-heart{
    font-size: 30px;
}

.maddie-image{
  height: 300px;
  width: 200px;
}